<div class="center hero-unit">
	<h1>Improv Classes</h1>
	<p>Learn to improvise from master improv teacher, Kevin Mullaney.</p>
	<%= link_to "Register now!", new_user_path, class: "btn btn-large btn-primary" %> 
</div>
