<div class="center hero-unit">
	<h1>Improv Classes</h1>
	<p>Learn to improvise from master improv teacher, Kevin Mullaney.</p>
	<%= link_to "Register now!", '#', class: "btn btn-large btn-primary" %> 
</div>
