<footer class="footer">
  <small>
    Copyright 2012, Kevin Mullaney, All Rights Reserved
  </small>
  <nav>
    <ul>
      <li><%= link_to "contact", contact_path %></li>
    </ul>
  </nav>
</footer>